footer {
    background: #42006A;
}

.footer {
    display: flex;
    column-gap: 90px;
    color: #FFFFFF;
}

.foot3 {
    display: flex;
    flex-direction: column;
}

.foot__li {
    margin-bottom: 29px;
}

.foot__li1 {
    margin-bottom: 60px;
}

.foot {
    padding: 100px 0 60px;
}

.soc2 {
    margin-top: 101px;
}